In [31]:
import pandas as pd
import numpy as np

csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(csv_url)

df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [32]:
def cleaning_column_names(insurance):
    insurance = insurance.rename(columns = {'ST': 'State', 'GENDER': 'Gender'})

    return insurance

In [33]:
def cleaning_values(insurance):
    insurance.replace(to_replace = ["F", "Femal", "female"],
                          value = "F", inplace=True)

    insurance.replace(to_replace = ["M", "Male"],
                          value = "M", inplace=True)

    insurance.replace(to_replace = ["Cali"],
                          value = "California", inplace=True)
                          
    insurance.replace(to_replace = ["WA"],
                          value = "Washington ", inplace=True)
                          
    insurance.replace(to_replace = ["AZ"],
                          value = "Arizona", inplace=True)
                          
    insurance.replace(to_replace = ["Bachelors"],
                          value = "Bachelor", inplace=True)
    
    return insurance

In [39]:
def formatting_data_types(insurance):
    insurance['Customer Lifetime Value'] = insurance['Customer Lifetime Value'].replace('%','')
    insurance['Customer Lifetime Value'] = insurance['Customer Lifetime Value'].astype('float')

    return insurance

In [35]:
def transform_complaints(row):
    complaints = row["Number of Open Complaints"]
    if pd.notnull(complaints) and type(complaints) == str:
        complaints = complaints.replace("/", "")
        return float(complaints[0]) if complaints else None
    else:
        return complaints

In [36]:
def null_values(insurance):
    null_exists = False
    for column in insurance:
        for value in insurance[column].isnull():
            if(value):
                null_exists = True
    if null_exists == True:
        insurance = insurance.dropna()
    
    return insurance

In [37]:
def duplicates(insurance):
    duplicates_exists = False
    for column in insurance:
        for value in insurance[column].duplicated():
            if(value):
                duplicates_exists = True
    if duplicates_exists == True:
        insurance = insurance.drop_duplicates()    
    
    return insurance

In [38]:
def data_cleaning(insurance):  
    insurance = cleaning_column_names(insurance)
    insurance = cleaning_invalid_values(insurance)
    insurance = formatting_data_types(insurance)
    insurance = null_values(insurance)
    insurance = duplicates(insurance)
    
    return insurance

df = data_cleaning(df)

ValueError: could not convert string to float: '697953.59%'

In [ ]:
display(df)